
.h1acerca{
    margin: 15px;
    margin-top: 20px;
    color: var(--colordos);
    text-align: center;
    font-size: 40px;
    
}

.hojaacerca{
    margin: 2vh;
    background-color: var(--coloruno);
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    gap: 8px;
    font-size: 10px;
}


.slider{
   
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 8px;
    
}

.h2acerca{
    margin-top: 7vh;
    font-size: 25px;
}

@media (max-width: 667px){

    .hojaacerca{
        display: flex;
        flex-flow: column;
    }

    .h1acerca  {
        margin-top: 8vh;
        
    }
    .h2acerca{
        margin: 15px;
        margin-bottom: 5vh;
        font-size: 16px;
    }
}


