.hojatrabajos{
    margin: 2vh;
    background-color: var(--coloruno);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: minmax(200px, auto);
    gap: 40px;
    padding: 20px;
    line-height: 20px;
    
}

.h1trabajos{
    
    margin: 20px; 
    color: var(--colordos);
    font-size: 15px;
    
}

.fotocard4{
    max-width: auto;
    object-fit: contain;
}

.textotrabajos{
    margin-top: 10px;
}

@media (max-width: 667px){
    .h1trabajos{
        text-align: center;
    }
}